  user www-data;
  worker_processes auto;
  pid /run/nginx.pid;

  events {
    worker_connections 1024;
  }

  http {
    server {
      listen 80;
      listen [::]:80;

      location = /favicon.ico {
        access_log off;
        log_not_found off;
        return 204;
      }

      location / {
        proxy_pass http://web-ui:${FRONTEND_PORT};
        proxy_set_header X-Real-IP $remote_addr;
      }

      location /red-file {
        proxy_pass http://red-file:${BACKEND_PORT}/;
        proxy_set_header X-Real-IP $remote_addr;
      }
    }
  }