http {
  upstream frontend {
    server front-end:${FRONTEND_PORT};
  }

  upstream backend {
    server back-end:${BACKEND_PORT};
  }

  server {
    listen 80;
    server_name ${CUSTOM_HOST} localhost;

    location / {
      proxy_pass http://frontend;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /red-file {
      proxy_pass http://backend;
      proxy_set_header X-Real-IP $remote_addr;
    }

  }
}