http {

  server {
    listen 80;
    server_name ${CUSTOM_HOST} localhost;

    location / {
      proxy_pass http://front-end:${FRONTEND_PORT}/;
      proxy_set_header X-Real-IP $remote_addr;
    }

    location /api {
      proxy_pass http://back-end:${BACKEND_PORT}/;
      proxy_set_header X-Real-IP $remote_addr;
    }

  }
}